body {
    font-family: Bangers;
    background-color: lightyellow;
    margin-top: 75px;
}
p {
    margin: 0cm 4cm 0cm 4cm;
}
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

